.env
.planning
.serena
.venv
*.log*
*.pem
*.state
*cache*
certs/
db/
docker/adguard/
docker/authelia/configuration.yml
docker/authelia/db.sqlite3
docker/authelia/notification.txt
docker/authelia/oidc_config_snippet.yaml
docker/authelia/users_database.yaml
docker/beszel-agent/fingerprint
docker/crowdsec/config
docker/crowdsec-web-ui
docker/fail2ban/data/
docker/gatus/config/config.yaml
docker/gatus/data/
docker/gatus/technis
docker/gerbil/*.conf
docker/gerbil/data/
docker/gerbil/key
docker/goaccess/data/
docker/goaccess/goaccess.conf
docker/goaccess/index.html
docker/pangolin/*.db
docker/pangolin/*.sqlite*
docker/pangolin/config.yml
docker/pangolin/data/
docker/pangolin/GeoLite2-Country.mmdb
docker/pangolin/key
docker/pangolin/letsencrypt/acme.json
files/
logs/
